# Ignore everything
*

# But not these files...
!.gitignore
!.vimrc
!.bashrc
!.gitconfig
!.sshrc
!.sshrc.d
!.xinitrc
!.Xdefaults
!.bash_profile
!.config
.config/*
!.config/awesome
!.config/awesome/*
!.config/termite
!.config/termite/*
!.config/ranger
!.config/ranger/*
